@font-face {
  font-family: 'IranSans';
  src: url("assets/fonts/IRANSansWeb.woff") format("woff");
  font-weight: normal; }
@font-face {
  font-family: 'IranSans';
  src: url("assets/fonts/IRANSansWeb_UltraLight.woff") format("woff");
  font-weight: 100; }
@font-face {
  font-family: 'IranSans';
  src: url("assets/fonts/IRANSansWeb_Light.woff") format("woff");
  font-weight: 300; }
@font-face {
  font-family: 'IranSans';
  src: url("assets/fonts/IRANSansWeb_Medium.woff") format("woff");
  font-weight: 500; }
@font-face {
  font-family: 'IranSans';
  src: url("assets/fonts/IRANSansWeb_Bold.woff") format("woff");
  font-weight: bold; }

body {
  margin: 0;
  direction: rtl;
  font-family: 'IranSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
